<!DOCTYPE html>
<html lang="ennto">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rise of the Empire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Interactive Rise of the Empire Territory Battle Map SWGoH">
	<meta name="keywords" content="swgoh, star wars, rote, territory, battle, map, tactics, interactive, tb_geo, genskaar">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="icon" type="image" href="../media/favicon/get3.png">
</head>
<body>
<div class="wrapper">
	<div class="container-fluid ">
		<div class="row justify-content-center h-100 text-center">
			<div id="app" class="map">
				<svg viewBox="0 0 750 500">
                    <path  class="part" d="M 373 381 A 1 1 0 0 0 372 475 A 1 1 0 0 0 373 381 z"					></path>
                    <path  class="part" d="M 263 417 L 326 422 C 324 435 330 452 335 461 L 274 482 C 259 455 260 434 263 416 z"					></path>
	
                    <!-- DS 1 -->
                    <path fill="red" class="part" d="M 263 417 L 326 422 C 330 408 332 400 347 388 L 316 337 C 292 350 269 380 263 417 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Dark Side 1</tspan>	
							<tspan x="340" dy="15">Mustafar</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <!-- Mixed 1 -->
                    <path fill="green" class="part" d="M 346 388 L 316 337 C 327 330 338 327 351 324 L 349 313 C 365 311 381 311 396 314 L 395 325 C 408 327 416 330 429 338 L 398 388 C 384 380 366 378 346 388 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Mixed 1</tspan>	
							<tspan x="340" dy="15">Corellia</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <!-- LS 1 -->
                    <path fill="blue" class="part" d="M 419 422 L 482 416 C 478 390 459 351 429 338 L 399 388 C 410 395 418 412 419 422 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Light Side 1</tspan>	
							<tspan x="340" dy="15">Coruscant</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <path  class="part" d="M 419 422 L 482 416 C 489 440 480 466 473 482 L 409 461 C 417 452 421 440 419 422 z"					></path>
                    <path  class="part" d="M 473 478 L 488 485 L 496 464 L 546 482 C 551 446 553 405 532 367 L 515 374 L 516 378 L 492 386 L 490 382 L 474 389 C 490 418 485 468 473 478 z"					></path>
                    <path  class="part" d="M 549 426 L 616 425 C 619 444 618 481 613 506 L 547 483 C 551 464 550 445 549 426 z"					></path>
                    <path  class="part" d="M 684 477 C 682 412 668 356 647 327 L 637 330 L 640 339 L 611 348 L 607 339 L 591 346 C 595.3333 356.3333 599 364 604 377 L 585 382 L 593 424 L 616 425 C 619 437 619 450 618 466 L 684 477 z"					></path>
                    <path  class="part" d="M 681 425 C 675 384 660 344 637 308 L 642 305 L 625 279 L 667 254 C 708 304 731 357 742 424 L 681 425 z"					></path>
                    <!-- LS5 -->
                    <path fill="blue" class="part" d="M 625 279 L 667 254 C 652 235 637 218 619 202 L 627 193 L 599 172 L 591 181 L 578 170 L 549 207 L 561 215 L 557 220 C 573 231 587 243 600 258 L 605 255 L 625 279 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Light Side 5</tspan>	
							<tspan x="340" dy="15">Kafrene</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <!-- LS6 -->
                    <path fill="blue" class="part" d="M 627 209 L 665 176 L 640 155 L 643 151 C 622 135 601 122 577 109 L 574 114 C 559 106 544 99 527 92 L 516 115 L 542 127 L 533 146 C 554 155 573 165 591 181 L 599 171 L 628 193 L 619 202 L 627 209 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Light Side 6</tspan>	
							<tspan x="340" dy="15">Scarif</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <!-- Mixed 6 -->
                    <path fill="green" class="part" d="M 507 133 C 513.6667 119.6667 520.3333 106.3333 527 93 C 496 79 463 71 428 68 L 428 62 L 393 59 L 393 65 C 386 64 380 64 372 64 L 372 109 C 423 109 462 118 507 133 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Mixed 6</tspan>	
							<tspan x="340" dy="15">Hoth</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
					<path  class="part" d="M 218 92 C 251 80 282 72 317 67 L 317 62 L 353 59 L 353 64 L 372 64 L 372 109 C 326 107 283 118 238 133 z"					></path>
                    <!-- DS 6 -->
                    <path fill="red" class="part" d="M 218 93 L 228 115 L 202 127 L 212 145 C 187 156 174 164 154 181 L 146 171 L 118 193 L 126 202 L 118 209 L 80 176 L 105 155 L 101 151 C 127 132 141 124 168 109 L 171 114 L 218 93 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Dark Side 6</tspan>	
							<tspan x="340" dy="15">Death Star</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <!-- DS 5 -->
                    <path fill="red" class="part" d="M 167 170 L 196 207 L 185 214 L 188 220 C 172 231 158 243 144 259 L 139 256 L 120 280 L 78 254 C 97 231 108 218 126 202 L 117 193 L 146 172 L 154 181 L 167 170 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Dark Side 5</tspan>	
							<tspan x="340" dy="15">Malachor</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <path  class="part" d="M 119 280 L 78 255 C 33 309 19 344 9 424 L 64 424 C 74 377 82 345 107 308 L 102 305 L 119 280 z"					></path>
                    <path  class="part" d="M 98 326 L 108 330 L 104 339 L 134 350 L 138 341 L 152 347 L 141 377 L 161 383 L 152 425 L 129 425 C 127 439 127 451 127 466 L 60 477 C 62 420 71 378 98 326 z"					></path>
                    <path  class="part" d="M 196 426 L 129 426 C 127 453 129 479 132 505 L 199 483 C 195 461 194 449 196 426 z"					></path>
                    <path  class="part" d="M 249 464 L 198 483 C 194 444 193 405 214 366 L 231 374 L 229 378 L 253 386 L 255 382 L 271 389 C 256 418 258 452 271 477 L 257 483 L 249 464 z"					></path>
                    
                    <!-- Ls2 -->
                    <path fill="blue" class="part" d="M 475 388 C 462 361 443 343 418 331 L 426 312 L 424 311 L 434 287 L 437 288 L 442 277 C 456 285 468 289 482 303 L 478 309 L 502 332 L 509 328 C 520 341 525 352 533 366 L 515 373 L 516 378 L 492 386 L 490 382 L 475 388 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Light Side 2</tspan>	
							<tspan x="340" dy="15">Bracca</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <!-- Mid 2 -->
                    <path fill="green" class="part" d="M 419 331 L 426 313 L 424 311 L 435 287 L 437 288 L 442 277 C 393 259 351 259 304 277 L 309 288 L 311 287 L 322 311 L 319 312 L 327 331 L 350 323 L 349 313 C 365 310 379 310 396 313 L 395 324 L 419 331 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Mixed 2</tspan>	
							<tspan x="340" dy="15">Felucia</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <!-- DS2 -->
                    <path fill="red" class="part" d="M 271 388 L 255 382 L 254 385 L 230 377 L 231 373 L 213 366 C 219 354 226 340 237 328 L 243 332 L 267 309 L 263 302 C 278 289 285 286 304 278 L 308 288 L 311 287 L 322 311 L 319 312 L 327 331 C 299 344 283 365 271 388 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Dark Side 2</tspan>	
							<tspan x="340" dy="15">Geonosis</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <!-- Ls3 -->
                    <path fill="blue" class="part" d="M 549 425 L 593 425 L 584 382 L 604 377 C 590 337 575 309 545 281 L 494 325 L 502 333 L 509 328 C 533 360 547 391 549 425 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Light Side 3</tspan></tspan>	
							<tspan x="340" dy="15">Kashyyyk</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000</tspan>	
					</text>
                    <!-- Ls 4 -->
                    <path fill="blue" class="part" d="M 592 346 C 578 319 569 301 545 281 L 539 286 L 516 265 L 521 260 L 493 239 L 521 195 L 533 203 L 537 198 L 561 214 L 558 219 C 574 232 585 241 601 258 L 606 254 C 619 270 631 284 642 304 L 637 307 L 647 325 L 637 329 L 640 337 L 611 347 L 608 340 L 592 346 z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Light Side 4</tspan>	
							<tspan x="340" dy="15">Lothal</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    <path class="part" d="M 494 324 L 538 285 L 516 265 L 520 260 C 496 239 472 227 441 217 L 439 225 L 427 222 L 415 268 C 442 275 463 284 483 302 L 478 308 L 494 324 z"					></path>
                    <!--
                    <!-- dsds
                    <path  class="part" d=" z"					></path>
					<text x="340" y="415">
							<tspan x="340" dy="0">Dark Side 1</tspan>	
							<tspan x="340" dy="15">Mustafar</tspan>	
							<tspan x="340" dy="15">3*: 453,670,000 </tspan>	
					</text>
                    -->

				</svg>
				<mission></mission>
			</div>
		</div>
	</div>
</div>
<!--Templates for Vue-->
<template id="mission">
	<div>
		<img class="mission"
		v-for="mission in missions" 
		v-bind:key="mission.name" 
		v-bind:class="mission.name"
		v-bind:src="'../media/mission_' +  mission.type + '.svg'"
		@mouseover="isMobile ? null : selectedMission = mission; seen = true" @mouseleave="seen = false"
		>
		<!--v-click-outside="hide"-->
		<div v-if="seen" class="description" v-bind:class="'desc_' + selectedMission.position">
			
			<div class="mb-3" v-if="selectedMission.preferredSquads">
				<p  class="h4">Preferred teams</p>
				<div v-for="item in selectedMission.preferredSquads">
					<p>{{squads[item].name}}</p>
					<div class="img_block">
						<img 
						v-for="pic in squads[item].toons"
						v-bind:src="'../media/toons/' + pic + '.png'"
						>
					</div>
				</div>
			</div>
			
			<div class="mb-3" v-if="selectedMission.dangerousEnemies">
				<p class="h4">Dangerous enemies</p>
				<ul>
					<li class="text-justify" v-for="item in selectedMission.dangerousEnemies">{{enemies[item]}}</li>
				</ul>
			</div>

			<div class="mb-3 " v-if="selectedMission.requiredToons">
				<p class="h4">Required toons</p>
					<div v-for="item in selectedMission.requiredToons" class="row justify-content-center .flex-nowrap">
							<div class="platoons" v-for="item in platoons[item]">{{item}}</div>
					</div>
					
				<p class="h4"> Affected Territories </p>
				  
					  <ul>
					<li class="text-justify" v-for="item in selectedMission.platzones">{{platims[item]}}</li>
				     </ul>
					  <!-- <div class="img_block">
				       <img 
						v-for="pic in platims[item]"
						v-bind:src="'../media/platoons/' + pic + '.png'"
						style="width:120px;height:120px;"
						>
				       </div> 
				       <div v-for= "pic in platims[item]">
					    <img src="../media/platoons/z1t.png" style="width:200px;height:150px;"> 
					    
				       </div>
				       <img src="../media/mission_KAM.svg" alt="KAM" style="width:42px;height:42px;"> -->
				   
			</div>
			
			<!--<div class="mb-3" v-if="selectedMission.weblinks">
				<p class="h4">Video guides (all credit to the video creator)</p>
				<ul>
					<li class="text-justify" v-for="item in selectedMission.weblinks">{{guides[item]}}</li>
				</ul>
			</div>-->


			<div class="rewards mb-3" v-if="selectedMission.rewards">
				<p class="h4">Rewards</p>
				<span v-for="item in selectedMission.rewards">&nbsp;&nbsp;{{item}}&nbsp;&nbsp;&nbsp;</span>
			</div>
		</div>
	</div>
</template>
<div class="top-left"><a href="../index.html" style="color:#FFFFFF;"> &#127968 Home </a><br>
<script src="../js/vue.min.js"></script>
<script src="../js/main.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7G9QJXCBX4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7G9QJXCBX4');
</script>

</body>
</html>
