<!DOCTYPE html>
<html lang="ennto">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rise of the Empire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Interactive Rise of the Empire Territory Battle Map SWGoH">
	<meta name="keywords" content="swgoh, star wars, rote, territory, battle, map, tactics, interactive, tb_geo, genskaar">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="icon" type="image" href="../media/favicon/get3.png">
</head>
<body>
<div class="wrapper">
	<div class="container-fluid ">
		<div class="row justify-content-center h-100 text-center">
			<div id="app" class="map">
				<svg viewBox="0 0 1000 667">
		
					<path  class="part" d="m 274.83661,149.25689 59.74709,46.60273 v 76.47628 l -28.42569,20.50156 -226.410921,
				    -59.76965 28.093778,-120.98522 +80.534243,-3.33192 64.653316, 19.28133 6.47627,2.288724 z"					></path>
					<text x="380" y="205">
							<tspan x="240" dy="0">1*: 122,490,000</tspan>	
							<tspan x="240" dy="15">2*: 340,255,000</tspan>	
							<tspan x="240" dy="15">3*: 453,670,000 </tspan>	
					</text>
					<path  class="part" d="m 78.83661, 230.25689 -29.74709,121.60273  184.653316, 46.28133 10.57744,-57.288724 70.57744,-50.288724 z"					></path>
					<text x="140" y="300">
							<tspan x="140" dy="0">1*: 152,945,000</tspan>	
							<tspan x="140" dy="15">2*: 270,930,000</tspan>	
							<tspan x="140" dy="15">3*: 436,980,000</tspan>	
					</text>
                    
					<path class="part" d="M 49.747089,350.00711 C 32.575648,398.87862 13.246382,449.71068 -1.1949418,
					501.76472 v 27.48366 l 44.2128458,41.82296 157.732316,4.77977 35.40779,-173.01365 z"></path>
					<text x="75" y="450">
							<tspan x="75" dy="0">1*: 117,510,000</tspan>	
							<tspan x="75" dy="15">2*: 278,600,000</tspan>	
							<tspan x="75" dy="15">3*: 335,750,000</tspan>	
					</text>
					<path class="part" d="m 274.83661,149.25689 59.74709,46.60273 v 76.47628 l 152.95255,-2.38989 50.18755,
					-44.21284 v -76.47628 z"></path>
					<text x="430" y="220">
						<tspan x="430" dy="0">1*: 91 395,000</tspan>	
						<tspan x="430" dy="15">2*: 152, 325,000</tspan>	
						<tspan x="430" dy="15">3*: 217,610,000</tspan>	
					</text>
					<path class="part" d="m 334.5837,272.3359 152.95255,-2.38989 46.60273,59.74709 -1.19494,70.50157 -191.19069,-8.36459 -50.18755,
					48.99261 -64.52686,1.19494 19.11907,-99.18017 z"></path>
					<text x="345" y="330">
						<tspan x="345" dy="0">1*: 132,310,000</tspan>	
						<tspan x="345" dy="15">2*: 257,065,000</tspan>	
						<tspan x="345" dy="15">3*: 378,035,000</tspan>	
					</text>
					<path class="part" d="m 227.03894,442.01763 64.52686,-1.19494 50.18755,-48.99261 191.19069,8.36459 41.82296,50.18755 7.16965,
					124.27395 -381.18643,1.19494 z"></path>
					<text x="345" y="520">
						<tspan x="345" dy="0">1*: 110,615,000</tspan>	
						<tspan x="345" dy="15">2*: 165,925,000</tspan>	
						<tspan x="345" dy="15">3*: 221,230,000</tspan>	
					</text>
					<path class="part" d="m 534.13898,329.6931 h 86.03581 l 34.65331,-28.6786 82.45098,2.38988 -7.16965,
					-20.31401 -96.79028, -44.21284 -2.38989,-33.45837 -26.28872,-37.0432 h -14.3393 l -19.11907,-31.06848 -33.45837,
					11.94941 v 76.47628 l -50.18755,44.21284 z"></path>
					<text x="545" y="290">
						<tspan x="545" dy="0">1*: 71,075,000</tspan>	
						<tspan x="545" dy="15">2*: 133,535,000</tspan>	
						<tspan x="545" dy="15">3*: 215,380,000</tspan>	
					</text>
					<path class="part" d="m 737.27908,303.40438 -82.45098,-2.38988 -34.65331,28.6786 h -86.03581 l -1.19494,
					70.50157 41.82296,50.18755 32.26343,-20.31401 h 74.08639 l 25.09378,19.11907 38.23813,-2.38988 z"></path> 
					<text x="600" y="380">
						<tspan x="600" dy="0">1*: 96,220,000</tspan>	
						<tspan x="600" dy="15">2*: 174,235,000</tspan>	
						<tspan x="600" dy="15">3*: 260,055,000</tspan>	
					</text>
					<path class="part" d="m 574.767,450.38222 7.16965,124.27395 193.58057,1.19494 -9.55953,-112.32453 -21.50896,
					-16.72918 -38.23813,2.38988 -25.09378,-19.11907 h -74.08639 z"></path>
					<text x="640" y="490">
						<tspan x="640" dy="0">1*: 121,030,000</tspan>	
						<tspan x="640" dy="15">2*: 217,235,000</tspan>	
						<tspan x="640" dy="15">3*: 310,335,000</tspan>	
					</text>
					<path class="part" d="m 604.64054,168.37596 15.53425,-10.75447 2.38988,-10.75448 268.8619,2.38988 3.58483,
					22.7039 -99.18017,69.30662 1.19494,59.74709 -59.74709,2.38988 -7.16965,-20.31401 -96.79028,
					-44.21284 -2.38989,-33.45837 z"></path>
					<text x="715" y="180">
						<tspan x="715" dy="0">1*: 42,475,000</tspan>	
						<tspan x="715" dy="15">2*: 84,950,000</tspan>	
						<tspan x="715" dy="15">3*: 141,580,000</tspan>	
					</text>
					<path class="part" d="m 895.0114,171.96079 -99.18017,69.30662 1.19494,59.74709 -59.74709,2.38988 7.16965,
					143.39302 21.50896,16.72918 26.28871,-28.6786 h 77.67122 l 64.52686,-129.05371 37.04319,-14.3393 17.92413,
					-53.77238 -32.26343,-68.11169 -34.65331,4.77977 z"></path>
					<text x="815" y="305">
						<tspan x="815" dy="0">1*: 110,240,000</tspan>	
						<tspan x="815" dy="15">2*: 166,640,000</tspan>	
						<tspan x="815" dy="15">3*: 256,370,000</tspan>	
					</text>	
					<path class="part" d="m 971.48767,291.45497 27.48366,23.89883 3.58487,194.77551 -17.92417,13.14436 3.58483,
					10.75448 -47.79767,48.99261 -164.90197,-7.16965 -9.55953,-112.32453 26.28871,
					-28.6786 h 77.67122 l 64.52686,-129.05371 z"></path>
					<text x="810" y="500">
						<tspan x="835" dy="0">1*: 86,275,000</tspan>	
						<tspan x="835" dy="15">2*: 120,425,000</tspan>	
						<tspan x="835" dy="15">3*: 179,740,000</tspan>	
					</text>	
				</svg>
				<mission></mission>
			</div>
		</div>
	</div>
</div>
<!--Templates for Vue-->
<template id="mission">
	<div>
		<img class="mission"
		v-for="mission in missions" 
		v-bind:key="mission.name" 
		v-bind:class="mission.name"
		v-bind:src="'../media/mission_' +  mission.type + '.svg'"
		@mouseover="isMobile ? null : selectedMission = mission; seen = true" @mouseleave="seen = false"
		>
		<!--v-click-outside="hide"-->
		<div v-if="seen" class="description" v-bind:class="'desc_' + selectedMission.position">
			
			<div class="mb-3" v-if="selectedMission.preferredSquads">
				<p  class="h4">Preferred teams</p>
				<div v-for="item in selectedMission.preferredSquads">
					<p>{{squads[item].name}}</p>
					<div class="img_block">
						<img 
						v-for="pic in squads[item].toons"
						v-bind:src="'../media/toons/' + pic + '.png'"
						>
					</div>
				</div>
			</div>
			
			<div class="mb-3" v-if="selectedMission.dangerousEnemies">
				<p class="h4">Dangerous enemies</p>
				<ul>
					<li class="text-justify" v-for="item in selectedMission.dangerousEnemies">{{enemies[item]}}</li>
				</ul>
			</div>

			<div class="mb-3 " v-if="selectedMission.requiredToons">
				<p class="h4">Required toons</p>
					<div v-for="item in selectedMission.requiredToons" class="row justify-content-center .flex-nowrap">
							<div class="platoons" v-for="item in platoons[item]">{{item}}</div>
					</div>
					
				<p class="h4"> Affected Territories </p>
				  
					  <ul>
					<li class="text-justify" v-for="item in selectedMission.platzones">{{platims[item]}}</li>
				     </ul>
					  <!-- <div class="img_block">
				       <img 
						v-for="pic in platims[item]"
						v-bind:src="'../media/platoons/' + pic + '.png'"
						style="width:120px;height:120px;"
						>
				       </div> 
				       <div v-for= "pic in platims[item]">
					    <img src="../media/platoons/z1t.png" style="width:200px;height:150px;"> 
					    
				       </div>
				       <img src="../media/mission_KAM.svg" alt="KAM" style="width:42px;height:42px;"> -->
				   
			</div>
			
			<!--<div class="mb-3" v-if="selectedMission.weblinks">
				<p class="h4">Video guides (all credit to the video creator)</p>
				<ul>
					<li class="text-justify" v-for="item in selectedMission.weblinks">{{guides[item]}}</li>
				</ul>
			</div>-->


			<div class="rewards mb-3" v-if="selectedMission.rewards">
				<p class="h4">Rewards</p>
				<span v-for="item in selectedMission.rewards">&nbsp;&nbsp;{{item}}&nbsp;&nbsp;&nbsp;</span>
			</div>
		</div>
	</div>
</template>
<div class="top-left"><a href="../index.html" style="color:#FFFFFF;"> &#127968 Home </a><br>
<script src="../js/vue.min.js"></script>
<script src="../js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174928426-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174928426-1');
</script>


</body>
</html>
